/*-- scss:defaults --*/

$body-bg: #1E1E1E !default;
$body-color: #fff !default;
$link-color: #04B46D !default;
$font-family-sans-serif: arial, "open sans", "helvetica neue", helvetica, sans-serif !default;
/*-- scss:rules --*/
