/*-- scss:defaults --*/

$body-bg: #fff!default;
$body-color: #1E1E1E !default;
$link-color: #03A062 !default;
$font-family-sans-serif: arial, "open sans", "helvetica neue", helvetica, sans-serif !default;
/*-- scss:rules --*/